<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:shortcode -->
	[goyo_subbanner]
	<!-- /wp:shortcode -->

	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
	<div class="contentBox wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80)">
		<!-- wp:shortcode -->
		[goyo_category_loop]
		<!-- /wp:shortcode -->
	</div>
	<!-- /wp:group -->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
